body {
  background: #fff;
  font-family: 'menlo', monospace;
  color: #2B2D2F;
  padding: 0;
  margin: 0;
  font-size: 14px;
  min-width: 960px;
}

.columns {
  display: flex;
}

.left {
  width: 66%;
}

.right {
  width: 34%;
}

h1 {
  font-size: 54px;
  font-weight: normal;
  padding-left: 15px;
}

h2 {
  font-size: 16px;
}

h2 span {
  font-size: 14px;
  color: #597898;
  font-weight: normal;
}

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 10px;
}

input[type=text] {
  display: inline-block;
  font-size: 14px;
  padding: 8px;
  border-radius: 0;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
  padding: 5px 15px 5px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type=submit] {
  font-size: 14px;
  font-family: menlo, monospace;
  border-radius: 5px;
  padding: 8px 20px;
  background: #FFDC00;
  color: #2B2D2F;
  border: 0;
}

input[type=submit].small {
  font-size: 10px;
  padding: 4px 10px;
}

.wallet,
.pending-transactions,
.peers,
.ledger,
.blockchain {
  padding: 15px;
}

.wallet {
  background: #7FDBFF;
}

.wallet h2 {
  margin-bottom: 0;
}

.balance {
  font-size: 30px;
}

.pending-transactions {
  background: #A3E6FF;
}

.peers {
  background: #C6EFFF;
}

.peers li form {
  display: inline;
}

.ledger {
  background: #E3F7FF;
}

.blockchain {
  position: relative;
  background: #001F3F;
  color: #fff;
}

.blockchain form {
  position: absolute;
  top: 30px;
  right: 15px;
}

.blocks {
  border: 1px solid #597898;
  border-bottom: 0;
}

.block {
  margin: 0;
  border-bottom: 2px dashed #597898;
  padding: 10px;
}

.block .header {
  text-align: center;
  padding: 0 8px 8px 8px;
  color: #597898;
  border-bottom: 1px solid #354c63;
  margin-bottom: 10px;
}

.block .id {
  color: #597898;
}

.peers li {
  padding: 5px 0px;
}
